body {
 font-family: Arial, sans-serif;
 background-color: #f7f7f7;
}

header {
 background-color: #ff9900;
 padding: 20px;
 text-align: center;
}

.logo {
 float: left;
 margin-right: 20px;
}

nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

nav li {
 display: inline-block;
 margin-right: 20px;
}

nav a {
 color: #fff;
 text-decoration: none;
}

.slideshow {
 width: 30%;
 height: 200px;
 margin-bottom: 20px;
}

.slideshow img {
 width: 30%;
 height: 20%;
 object-fit: cover;
}

.content {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.block {
 width: 30%;
 margin: 20px;
 background-color: #fff;
 padding: 20px;
 border: 1px solid #ddd;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block h2 {
 margin-top: 0;
}

.reviews {
 margin-bottom: 20px;
}

.reviews h2 {
 margin-top: 0;
}

.order {
 margin-bottom: 20px;
}

.order h2 {
 margin-top: 0;
}

footer {
 background-color: #ff9900;
 padding: 20px;
 text-align: center;
 color: #fff;
}

footer ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

footer li {
 display: inline-block;
 margin-right: 20px;
}

footer a {
 color: #fff;
 text-decoration: none;
}
